body{

}
.dino{
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-image: url(dino.png);
}
.cactus{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(cactus.png);
}
.gameOver{
    text-align: center;
    color: crimson;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
@keyframes slideright{
    from{
        background-position: 70000%;
    }
    to{
        background-position: 0;
    }
}
.background{
    position: absolute;
    bottom: 0;
    background-image: url(background.img);
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px; 
}