.dino{
    width: 60px;
    height: 60px;
    background-image: red;
    position: absolute;
    bottom: 0;
}
.cactus{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: black;
}